body {
    font-family: var(--text-font-family);
    font-weight: var(--text-font-weight);
    font-style: var(--text-font-style);
    color: var(--text-color);
    background: var(--background);
    line-height: 1.65;
}

//----------------------HEADER------------------

.header {
    background-color: #000;
    color: #fff;
    width: 100%;
}

.header__shipping {
  font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 10.5px));
}

.header__wrapper {
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 12px 15px;
}

.header__content {
  color: inherit;
  margin: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @media screen and (min-width: 576px) {
    font-size: 11.3px;
  }
}

//--------------------------HEADING-------------------

.heading {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  color: #fff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.heading__subheading--small {
  font-size: 12px;
}

.heading__subheading {
  font-size: 20px;
  margin-top: 16px;
}

.main-carousel {
  position: relative;
  height: 91vh;
}
//---------------------------NAV MENU------------------

.header--transparent {
  position: absolute;
  color: #fff;
  top: 0;
  background-color: transparent;
  transition: all 0.35s ease-in-out;
  z-index: 3;

  &:hover {
    background-color: var(--light-background);
    color: #000;

    .logo__image--transparent {
      display: none;
    }
  }
}

.bg--white {
  background-color: #fff;
  color: #000; 
}

.z--index {
  z-index: 10 !important;
}

.menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 10px;
  border-bottom: .4px solid rgba($color: #fff, $alpha: 0.35);

  .menu--mobile {
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}

.navbar {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }

  .navbar__item {
    position: relative;
    padding-bottom: 27px;
    color: inherit;
    margin: 0 20px;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  .navbar__item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .navbar__item:hover::before {
    visibility: visible;
    width: 100%;
  }

  .navbar__item--small {

    color: inherit;
    margin: 0 20px;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
    font-size: 11px;

    i {
      font-size: 8px;
    }
  }
}

//---------------------MEGA MENU-----------------

.dropdown {
  display: inline-block;

  &:hover {
    .dropdown__content {
      visibility: visible;
    }
  }
}

.dropdown__content {
  position: absolute;
  left: -45%;
  top: 180%;
  margin-top: 1px;
  visibility: hidden;
  max-height: 600px;
  width: 100vw;
  overflow: auto;
  text-align: left;
  background: var(--header-background);
  border-top: 1px solid var(--header-border-color);
  transition: all 0.3s ease-in-out;

}

.category {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 10px;
  .item {
    margin: 20px 40px;
    flex-shrink: 1;
  }

  .item--fit {
    flex-shrink: 0;
  }

  .list {
    list-style: none;
    padding: 0;    
  }
}

.list {
  margin-top: 20px;

  .list__item {
    position: relative;
    display: block;
    margin-bottom: 12px;
    width: 100%;
    line-height: 1.5;
    text-align: left;

    .item--small {
      font-family: var(--text-font-family);
      font-size: 14px;
      text-transform: capitalize;

      &:hover {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.item {
  margin-top: 30px;

  .item__header {
    color: #6a6a6a;
  }
 
  &:last-child {
    display: flex;
    flex-direction: row;
  }

  .item__image {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
  }

  .item__image--shrink {

    &:first-child {
      padding-right: 15px;
    }

    &:last-child {
      padding-left: 15px;
    }
  }
}

.item__image {
  .image--inner {
    max-width: 315px;
    margin: 8px auto 20px auto;
    overflow: hidden;
  }
  .text--inner {
    text-align: center;
    
    .heading {
      color: #000;
      font-size: 12px;
      margin-bottom: 10px;
    }

    .text--color {
      color: #6a6a6a;
      font-size: 11px;
    }
  }
}

.menu__icon {
  color: inherit;

  .button__drawer {
    padding-right: 10px;
    font-size: 17px;

    @media screen and (min-width: 576px) {
      font-size: 20px;
    }
  }
  
  .shopping-bag {
    font-size: 19px;

    @media screen and (min-width: 576px) {
      font-size: 22px;
      margin-left: 10px;
    }
  }
}

//-------------------------SEARCH------------------

.search {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--background);
  visibility: hidden;
  transform: translateY(-25px);
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
  z-index: 10;

  &.is-visible {
    visibility: visible;
    transform: translateY(0);
  }

}

.search__inner {
  max-height: calc(100vh - 60px);
  padding: 14px 18px;
  overflow: auto;

  @media screen and (min-width: 576px) {
    padding: 25px 50px;
  }

  .search__bar {
    display: flex;
    align-items: center;

    .button__drawer {
      i {
        color: var(--heading-color);
        font-size: 20px;
        opacity: 0.8;
      }
    }
  }
}

.search__form {
  display: flex;
  align-items: center;
  flex: 1 0 auto;

  .button__drawer i {
    font-size: 16px;

    @media screen and (min-width: 576px) {
      font-size: 20px;
    }
  }

  .search__input {
    background: none;
    width: 100%;
    border: none;
    color: var(--heading-color);
    font-size: var(--base-text-font-size);
    vertical-align: middle;
    margin-left: 20px;

    @media screen and (min-width: 576px) {
      font-size: 18px;
    }

    &:focus {
      outline: none;
    }
  }
}

//-------------------------MENU DRAWER--------------

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: calc(100vw - 65px);
  height: 100vh;
  max-height: none;
  z-index: 20;
  transition: transform 0.5s var(--drawer-transition-timing), visibility 0.5s var(--drawer-transition-timing);
  background: var(--background);
  box-shadow: none;
}

.button__drawer {
  background: transparent;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  
  &:focus {
    outline: none;
  }

}

.button--open {
  font-size: 22px;

  @media screen and (min-width: 576px) {
    font-size: 25px;
    margin-left: 10px;
  }
}

.button-close {
  padding: 15px 12px;
  color: #fff;
}

.menu__logo {
  display: flex;
  
  .header__logo {
    position: relative;
  }
}

.logo__link {
  display: flex;
  position: relative;

  .logo__image {
    max-width: 90px;

    @media screen and (min-width: 576px) {
      max-width: 100%;
    }
  }

  .logo__image--transparent {
    position: absolute;
    display: block;
    transition: all 0.25s ease-in-out;
  }
}

.menu__drawer {
  width: 85vw;
  height: 100vh;
  background-color: var(--navigation-background);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 0;
  margin: 0;

  transform: translateX(-100%);
  transition: transform 0.7s cubic-bezier(0.83, 0, 0.17, 1);

  @media screen and (min-width: 576px) {
    max-width: 340px;
  }

  &.is-visible {
    transform: translateX(0);

    .footer {
      min-height: 48px;
      opacity: 1;
    }
  }

}

.drawer__content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - 60px);
  max-height: calc(100% - 50px);
}

.content {
  flex: 1 1 auto;
  padding: 0 20px;
  opacity: 0;

  transform: translateX(-100%);
  transition: transform 0.7s cubic-bezier(0.83, 0, 0.17, 1);

  .main__item {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
    border-color: var(--navigation-border-color);

    &:first-child {
      padding-bottom: 5px;
      max-height: 100%;
    }

    .button-drawer--shop {
      color: #fff;
    }
  }

  &.is-visible {
    opacity: 1;
    transform: translateX(0);
  }
  
}


.button-drawer--open {
  color: var(--navigation-text-color-light);

  .icon-open {
    display: inline-block;
    color: inherit;
  }
  .icon-close {
    display: none;
    color: inherit;
  }
  transform: rotate(0deg);

  transition: all .35s ease-in-out;

  &.is-hidden {

    transform: rotate(180deg);

    .icon-open {
      display: none;
    }
    .icon-close {
      display: inline-block;
    }
  }
}

.item--open {
  @extend .button-drawer--open;
}

.main__item--inner {
  display: block;
  max-height: 0;
  overflow: hidden;

  transition: all .5s ease-in-out;

  .text__item {
    opacity: 0;
    transition: all .5s ease-in-out;
  }

  &.is-visible {
    max-height: 600px;
    overflow: visible;
    opacity: 1;

    .text__item {
      opacity: 1;
    }
  }
}

.text__item {
  color: var(--navigation-text-color-light);
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
  cursor: pointer;

  transition: all .3s ease-in-out;

  &:last-child {
    padding-bottom: 25px;
  }

  &:hover {
    color: #fff;
    
    .button--inner {
      color: #fff;
    }
  }

  .text__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.menu--small {
  @extend .main__item--inner;
  
  .content--small {
    list-style: none;
    padding-left: 25px;
    margin: 16px 0px 18px 20px; 
    border-left: 1px solid var(--border-color);
    border-color: var(--navigation-border-color);

    opacity: 0;
    transition: all .5s ease-in-out;

    .text__item {
      padding: 0;
    }

    .list__item {
      margin-bottom: 18px;

      .button__drawer {
        text-transform: capitalize;
        letter-spacing: 0;
        font-size: 13.6px;
      }
    }
  }

  &.is-visible {

    .content--small {
      opacity: 1;
    }
  }
}

.button--inner {
  color: var(--navigation-text-color-light);
  font-size: 11px;
  font-weight: 540;
  margin-left: 16px;
  transition: all .3s ease-in-out;
}

.main__item-footer {
  margin-top: 28px;
}

.footer__item {
  font-size: 14px;
  color: var(--navigation-text-color-light);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 0px;
  box-shadow: 0 1px var(--navigation-border-color) inset;
  color: var(--navigation-text-color-light);

  opacity: 0;
  transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

.footer__list {
  flex: 1 0 auto;
  margin: 0;
  padding: 6px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 34px);
  justify-content: space-evenly;
  text-align: center;
  list-style-type: none;
}

.footer__item {
  a {
    color: inherit;
    font-size: inherit;
    transition: all 0.3s ease-in-out;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

//-----------------------SLIDE SHOW----------------

.main__item--swiper {
  cursor: grab;
}

.slide__item {
  position: relative;
  text-align: center;
  transition: all .4s;
  transform-origin: left;

  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.image-1 {
  background-image: url("https://cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-1-mobile_x800.jpg?v=1522680099");

  @media screen and (min-width: 576px) {
    background-image: url("//cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-4_400x.jpg?v=1522679094 400w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-4_600x.jpg?v=1522679094 600w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-4_800x.jpg?v=1522679094 800w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-4_1000x.jpg?v=1522679094 1000w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-4_1200x.jpg?v=1522679094 1200w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-4_1400x.jpg?v=1522679094 1400w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-4_1600x.jpg?v=1522679094 1600w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-4_1800x.jpg?v=1522679094 1800w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-4_2000x.jpg?v=1522679094 2000w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-4_2200x.jpg?v=1522679094 2200w");
  }
}

.image-2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2-mobile_x800.jpg?v=1522680112");
  @media screen and (min-width: 576px) {
    background-image: url("//cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2_400x.jpg?v=1522679081 400w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2_600x.jpg?v=1522679081 600w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2_800x.jpg?v=1522679081 800w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2_1000x.jpg?v=1522679081 1000w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2_1200x.jpg?v=1522679081 1200w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2_1400x.jpg?v=1522679081 1400w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2_1600x.jpg?v=1522679081 1600w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2_1800x.jpg?v=1522679081 1800w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2_2000x.jpg?v=1522679081 2000w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2_2200x.jpg?v=1522679081 2200w");
  }
}

.image-3 {
  background-image: url("https://cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-3-mobile_x800.jpg?v=1522680121");
  @media screen and (min-width: 576px) {
    background-image: url("//cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-7_400x.jpg?v=1522679098 400w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-7_600x.jpg?v=1522679098 600w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-7_800x.jpg?v=1522679098 800w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-7_1000x.jpg?v=1522679098 1000w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-7_1200x.jpg?v=1522679098 1200w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-7_1400x.jpg?v=1522679098 1400w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-7_1600x.jpg?v=1522679098 1600w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-7_1800x.jpg?v=1522679098 1800w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-7_2000x.jpg?v=1522679098 2000w, //cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-7_2200x.jpg?v=1522679098 2200w");
  }
}

.slide__item::before {
  content: "";
  display: block;
  padding-top: 150%;
}

.slide__item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, rgba(4, 4, 4, 0.65), rgba(54, 54, 54, 0.2));
}

.slide__info {
  position: absolute;
  padding: 0 24px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;

  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.info--bottom-left {
  top: auto;
  bottom: 70px;
  left: 0;
  text-align: left;
  transform: none;
}
  
.is-visible {
  visibility: inherit;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.info__content {
  .heading {
    margin-bottom: 25px;
  }
}

.info__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 576px) {
    max-width: 350px;
  }

}

.info__button--color {
  position: relative;
  border-color: #fff;
  color: #fff;
  padding: 12px 25px;
  flex: 1 1 0;
  text-align: center;

  &:first-child {
    margin-right: 16px;
  }
}

.button__text {
    font-family: 'Montserrat', sans-serif !important;
  }

.button--scroll {
  position: absolute;
  left: 45%;
  bottom: -3%;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all .3s ease-in-out;

  .icon--scroll {
    font-size: 20px;
    position: relative;
    transition: all .3s ease-in-out;
  }

  &:hover {
    transform: scale(1.1);

    .icon--scroll {
      animation: hoverScroll .3s infinite;
      animation-iteration-count: 1;
    }
  }

}

//---------------PAGINATION-----------
.pagination--dot {
  color: #fff;
  position: absolute;
  width: auto;
  margin-left: 20px;
  padding: 0;
  bottom: 10px;
  text-align: center;
  z-index: 10;

  @media screen and (min-width: 1200px) {
    right: 30px;
  }

  .dot {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 6px;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--border-color);
    transition: all 0.2s ease-in-out;

    &::before {
      position: absolute;
      content: "";
      top: -6px;
      bottom: -6px;
      left: -6px;
      right: -6px;
    }
  }
}

//---------------KEY FRAME----------

@keyframes hoverScroll {
  from {
    top: -10px;
    opacity: 1;
  }
  to {
    top: 10px;
    opacity: 0;
  }
}




