body {
    font-family: var(--text-font-family);
    font-weight: var(--text-font-weight);
    font-style: var(--text-font-style);
    color: var(--text-color);
    background: var(--background);
    line-height: 1.65;
}

//----------------------HEADER------------------

.header {
    background-color: #000;
    color: #fff;
    width: 100%;
}

.header__shipping {
  font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 10.5px));
}

.header__wrapper {
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 12px 15px;
}

.header__content {
  color: inherit;
  margin: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

//--------------------------HEADING-------------------

.heading {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  color: #fff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.heading__subheading--small {
  font-size: 12px;
}

.heading__subheading {
  font-size: 20px;
  margin-top: 16px;
}

.main-carousel {
  position: relative;
}
//---------------------------NAV MENU------------------

.header--transparent {
  position: absolute;
  color: #fff;
  top: 0;
  background-color: transparent;
  transition: all 0.35s ease-in-out;
  z-index: 3;

  &:hover {
    background-color: var(--light-background);
    color: #000;

    .logo__image--transparent {
      display: none;
    }
  }
}

.bg--white {
  background-color: #fff;
  color: #000; 
}

.z--index {
  z-index: 10 !important;
}

.menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: .4px solid rgba($color: #fff, $alpha: 0.35);
}

.menu__icon {
  color: inherit;

  .button__drawer {
    padding-right: 10px;
    font-size: 17px;
  }
  
  .shopping-bag {
    font-size: 19px;
  }
}

//-------------------------SEARCH------------------

.search {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--background);
  visibility: hidden;
  transform: translateY(-25px);
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
  z-index: 10;

  &.is-visible {
    visibility: visible;
    transform: translateY(0);
  }

}

.search__inner {
  max-height: calc(100vh - 60px);
  padding: 14px 18px;
  overflow: auto;

  .search__bar {
    display: flex;
    align-items: center;

    .button__drawer {
      i {
        color: var(--heading-color);
        font-size: 20px;
        opacity: 0.8;
      }
    }
  }
}

.search__form {
  display: flex;
  align-items: center;
  flex: 1 0 auto;

  .button__drawer i{
    font-size: 16px !important;
  }

  .search__input {
    background: none;
    width: 100%;
    border: none;
    color: var(--heading-color);
    font-size: var(--base-text-font-size);
    vertical-align: middle;
    margin-left: 20px;

    &:focus {
      outline: none;
    }
  }
}

//-------------------------MENU DRAWER--------------

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: calc(100vw - 65px);
  height: 100vh;
  max-height: none;
  z-index: 20;
  transition: transform 0.5s var(--drawer-transition-timing), visibility 0.5s var(--drawer-transition-timing);
  background: var(--background);
  box-shadow: none;
}

.button__drawer {
  background: transparent;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  
  &:focus {
    outline: none;
  }

}

.button--open {
  font-size: 22px;
}

.button-close {
  padding: 15px 12px;
  color: #fff;
}

.menu__logo {
  display: flex;
  
  .header__logo {
    position: relative;
  }
}

.logo__link {
  display: flex;
  position: relative;

  .logo__image {
    max-width: 90px;
  }

  .logo__image--transparent {
    position: absolute;
    display: block;
    transition: all 0.35s ease-in-out;
  }
}

.menu__drawer {
  width: 85vw;
  height: 100vh;
  background-color: var(--navigation-background);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 0;
  margin: 0;

  transform: translateX(-100%);
  transition: transform 0.7s cubic-bezier(0.83, 0, 0.17, 1);

  &.is-visible {
    transform: translateX(0);

    .footer {
      min-height: 48px;
      opacity: 1;
    }
  }

}

.drawer__content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - 60px);
  max-height: calc(100% - 50px);
}

.content {
  flex: 1 1 auto;
  padding: 0 20px;
  opacity: 0;

  transform: translateX(-100%);
  transition: transform 0.7s cubic-bezier(0.83, 0, 0.17, 1);

  .main__item {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
    border-color: var(--navigation-border-color);

    &:first-child {
      padding-bottom: 5px;
      max-height: 100%;
    }

    .button-drawer--shop {
      color: #fff;
    }
  }

  &.is-visible {
    opacity: 1;
    transform: translateX(0);
  }
  
}


.button-drawer--open {
  color: var(--navigation-text-color-light);

  .icon-open {
    display: inline-block;
    color: inherit;
  }
  .icon-close {
    display: none;
    color: inherit;
  }
  transform: rotate(0deg);

  transition: all .35s ease-in-out;

  &.is-hidden {

    transform: rotate(180deg);

    .icon-open {
      display: none;
    }
    .icon-close {
      display: inline-block;
    }
  }
}

.item--open {
  @extend .button-drawer--open;
}

.main__item--inner {
  display: block;
  max-height: 0;
  overflow: hidden;

  transition: all .6s ease-in-out;

  .text__item {
    opacity: 0;
    transition: all .6s ease-in-out;
  }

  &.is-visible {
    max-height: 500px;
    overflow: visible;
    opacity: 1;

    .text__item {
      opacity: 1;
    }
  }
}

.text__item {
  color: var(--navigation-text-color-light);
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
  cursor: pointer;

  transition: all .3s ease-in-out;

  &:last-child {
    padding-bottom: 25px;
  }

  &:hover {
    color: #fff;
    
    .button--inner {
      color: #fff;
    }
  }

  .text__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.menu--small {
  @extend .main__item--inner;
  
  .content--small {
    list-style: none;
    padding-left: 25px;
    margin: 16px 0px 18px 20px; 
    border-left: 1px solid var(--border-color);
    border-color: var(--navigation-border-color);

    opacity: 0;
    transition: all .6s ease-in-out;

    .text__item {
      padding: 0;
    }

    .list__item {
      margin-bottom: 18px;

      .button__drawer {
        text-transform: capitalize;
        letter-spacing: 0;
        font-size: 13.6px;
      }
    }
  }

  &.is-visible {

    .content--small {
      opacity: 1;
    }
  }
}

.button--inner {
  color: var(--navigation-text-color-light);
  font-size: 11px;
  font-weight: 540;
  margin-left: 16px;
  transition: all .3s ease-in-out;
}

.main__item-footer {
  margin-top: 28px;
}

.footer__item {
  font-size: 14px;
  color: var(--navigation-text-color-light);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 0px;
  box-shadow: 0 1px var(--navigation-border-color) inset;
  color: var(--navigation-text-color-light);

  opacity: 0;
  transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

.footer__list {
  flex: 1 0 auto;
  margin: 0;
  padding: 6px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 34px);
  justify-content: space-evenly;
  text-align: center;
  list-style-type: none;
}

.footer__item {
  a {
    color: inherit;
    font-size: inherit;
    transition: all 0.3s ease-in-out;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

//-----------------------SLIDE SHOW----------------

.main__item--swiper {
  cursor: grab;
  width: 100%;
}

.slide__item {
  position: relative;
  text-align: center;
  transition: all .4s;
  transform-origin: left;

  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.image-1 {
  background-image: url("https://cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-1-mobile_x800.jpg?v=1522680099");
}

.image-2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2-mobile_x800.jpg?v=1522680112");
}

.image-3 {
  background-image: url("https://cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-3-mobile_x800.jpg?v=1522680121");
}

.slide__item::before {
  content: "";
  display: block;
  padding-top: 150%;
}

.slide__item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, rgba(4, 4, 4, 0.65), rgba(54, 54, 54, 0.2));
}

.slide__info {
  position: absolute;
  padding: 0 24px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.info--bottom-left {
  top: auto;
  bottom: 70px;
  left: 0;
  text-align: left;
  transform: none;
}
  
.is-visible {
  visibility: inherit;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.info__content {
  .heading {
    margin-bottom: 25px;
  }
}

.info__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.info__button--color {
  position: relative;
  border-color: #fff;
  color: #fff;
  padding: 12px 25px;
  flex: 1 1 0;
  text-align: center;

  &:first-child {
    margin-right: 16px;
  }
}
